/*-----------------------*/
/*-----------------------*/
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control {
    font-family: 'Prompt', sans-serif;
    font-size: 1.3rem;
    color: #FFF;
    padding: 1.8rem 1.5rem !important;
    background: rgba(0, 0, 0, 0.5);
}
/*.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
    text-align: center;
    margin: 0 auto 2rem auto !important;
}*/
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
    font-size: 5rem;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    margin: 0 auto 2rem auto;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-link {
    color: #FFF;
    font-size: 1.2rem;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__head .m-login__desc {
    font-size: 1.2rem;
    color: #FFF;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.1rem 3rem;
    margin-top: 0.8rem;
    border: 2px solid transparent;
    border-color: #9168eb;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary i {
    font-size: 1.8rem;
}
.test_home_vm {
    width: 100%;
    height: 300px;
    padding: 0px 50px 80px 0px;
    margin-top: 60px;
    border-radius: 5px;
    border: 1px #FFF solid;
}
.test_home_tool {
    width: 400px;
    height: 400px;
    margin-bottom: 60px;
    text-align: center;
    padding-top: 5px;
}
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
.m-brand .m-brand__logo .m-brand__logo-wrapper img.pc {
    display: block;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper img.mobile {
    display: none;
}
/*-----------------------*/
/*.m-portlet .m-portlet__body {
    padding: 0;
    margin: 2.2rem 2.2rem;
}*/
.m-portlet.at-m-portlet-content {
    /* height: 480px; */
    height: calc(100vh - 140px);
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 0;
}
.m-portlet .m-portlet__body.at-m-portlet-content-body {
    font-size: 14px;
    height: calc(100vh - 206px);
    /*overflow-y: hidden;*/
    overflow-x: hidden;
}
.dataTables_scroll {
    height: calc(100vh - 359px);
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 1rem 0 !important;
}
.dataTables_wrapper {
    height: calc(100vh - 265px);
    overflow-y: hidden;
    overflow-x: hidden;
}
/*-----------------------*/
.table thead th {
    border-bottom: 1px solid #d4d4d4;
    background-color: #eaeaea;
}
.table-bordered {
    border: 1px solid #e6e6e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #e6e6e6;
}
.table th, .table td {
    border-top: 1px solid #e6e6e6;
}
/*-----------------------*/
.m-nav-sticky {
    width: 40px;
    height: 200px;
    position: fixed;
    /* bottom: 15%; */
    top: 50%;
    right: 0;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    margin-top: -80px;
    z-index: 110;
    border-radius: 8px 0 0 8px;
}
/*-----------------------*/
.m-badge {
    font-size: 1rem !important;
    line-height: 16px;
}
.m-badge.m-badge--wide {
    letter-spacing: 0;
    padding: 3px 10px;
    border-radius: 12px;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 0.23rem 0.1rem !important;
    font-size: 0.875rem;
    line-height: 1.25;
}
/*-----------------------*/
.custom-select-sm {
    font-size: 100%;
}
/*-----------------------*/
span.at-m-table-flags img {
    width: 15px;
    border: 1px #222 solid;
}
.m-btn--icon.m-btn--icon-only [class^="la-"], .m-btn--icon.m-btn--icon-only [class*=" la-"] {
    font-size: 2rem;
}
.m-btn--icon.m-btn--icon-only [class^="fa-"], .m-btn--icon.m-btn--icon-only [class*=" fa-"] {
    font-size: 1.4rem;
}
/*-----------------------*/
.btn.disabled, .btn:disabled {
    opacity: 0.5;
    cursor: unset;
    background-color: #000 !important;
    border-color: #000 !important;
}
/*-----------------------*/
.m-dropdown.m-dropdown--arrow .m-dropdown__arrow {
    color: #282938;
}
.m-dropdown.m-dropdown--arrow .m-dropdown__arrow.light {
    color: #FFF;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__languages.m-dropdown--header-bg-fill.m-dropdown--arrow .m-dropdown__arrow {
    color: #282938;
}
.m-dropdown .m-dropdown__wrapper .m-dropdown__inner {
    background-color: #282938;
    color: #afb0c7;
}
.m-nav .m-nav__item>.m-nav__link .m-nav__link-text {
    color: #afb0c7;
    font-weight: 400;
}
.m-card-user .m-card-user__details .m-card-user__name {
    color: #afb0c7;
}
.m-card-user .m-card-user__details .m-card-user__email {
    color: #afb0c7;
}
/*-----------------------*/
/*-----------------------*/
.m-dropdown .m-dropdown__wrapper .m-dropdown__inner.at_inner_light {
    background-color: #FFF;
    color: #333;
}
/*-----------------------*/
/*-----------------------*/
.m-dropdown.m-dropdown--align-center .m-dropdown__wrapper.at-m-dropdown__wrapper_box1 {
    left: 50%;
    width: 400px;
    margin-left: -200px /*rtl:ignore*/;
}
.m-dropdown.m-dropdown--align-center .m-dropdown__wrapper.at-m-dropdown__wrapper_box1.box2_auto {
    width: auto;
}
.m-dropdown__content.at-m-dropdown__content {
}
.m-dropdown__content.at-m-dropdown__content .table {
    background-color: transparent;
    vertical-align: middle;
    margin-bottom: 0;
}
.m-dropdown__content.at-m-dropdown__content .table tbody tr:first-child th, .m-dropdown__content.at-m-dropdown__content .table tbody tr:first-child td {
    border-top: 1px solid #3c3d48 !important;
    border: 1px solid #3c3d48;
}
.m-dropdown__content.at-m-dropdown__content .table.table-bordered th,
.m-dropdown__content.at-m-dropdown__content .table.table-bordered td {
    border: 1px solid #3c3d48;
}
.m-dropdown__content.at-m-dropdown__content .table.table-hover tbody tr:hover {
    background-color: #1b1b23;
}


.m-dropdown.m-dropdown--arrow.m-dropdown--up .m-dropdown__arrow, .m-dropdown.m-dropdown--arrow .m-dropdown__arrow {
    display: none;
}
/*-----------------------*/
/*-----------------------*/
.modal-dialog.at-modal-dialog-long-100 {
    max-width: 100%;
    margin: 1.75rem 1.75rem;
}
.modal-dialog.at-modal-dialog-long-100.long-90 {
    max-width: 90%;
    margin: 1.75rem auto;
}
.modal-dialog.at-modal-dialog-long-100.long-80 {
    max-width: 80%;
    margin: 1.75rem auto;
}
.modal-dialog.at-modal-dialog-long-100.long-70 {
    max-width: 70%;
    margin: 1.75rem auto;
}
.modal-dialog.at-modal-dialog-long-100.long-60 {
    max-width: 60%;
    margin: 1.75rem auto;
}
.modal-dialog.at-modal-dialog-long-100.long-50 {
    max-width: 50%;
    margin: 1.75rem auto;
}
.modal-dialog.at-modal-dialog-long-auto {
    max-width: 100%;
    width: auto;
    display: table;
    padding: 0 1.75rem;
    margin: 1.75rem auto;
}
.modal-body.at-modal-body-and-footer {
    padding: 25px;
    margin-right: 5px;
    height: calc(100vh - 212px);
    overflow-y: auto;
}
.modal-footer {
    justify-content: center !important;
}
/*-----------------------*/
/*-----------------------*/

.at-m_table_item_1_body {
    border-top: 1px solid #3c3d48;
    padding: 15px 15px;
    background-color: #282938;
}
.at-m_table_item_1_body .table {
    color: #afb0c7;
    margin-bottom: 0;
    border: 1px solid #3c3d48;
    border-radius: 3px;
    background-color: transparent;
}
.at-m_table_item_1_body .table.light {
    color: #333;
}
.at-m_table_item_1_body .table tr th, .at-m_table_item_1_body .table tr td {
    border: 1px solid #3c3d48;
}
.at-m_table_item_1_body .table tr:hover {
    background-color: #1b1b23;
}
.at-m_table_item_1_body .table.light tr:hover {
    background-color: #ebebeb !important;
}
.at-m_table_item_1_body .table tr th {
    background-color: #1b1b23;
}
/*-----------------------*/
/*-----------------------*/
.at-m_table_top_detail {
    color: #afb0c7;
    margin-bottom: 15px;
}
/*-----------------------*/
/*-----------------------*/
.m-btn--icon.m-btn--icon-only.m-btn-not-b {
    display: inline-block;
    position: relative;
    padding: 0 !important;
    margin: 14px 15px;
    width: 0;
    height: 0;
    vertical-align: top;
}
/*-----------------------*/
/*-----------------------*/
h3.m-portlet__head-text>span.at_head_text {
    font-size: 15px;
    margin-top: 4px;
    /*color: #007bff;*/
}

.at_auto_button_right {
    float: right;
    display: inline-block;
    margin-bottom: 15px;
}
/*-----------------------*/
/*-----------------------*/
.at-m-badge-hourglass {
    position: absolute;
    background: #FF3B30;
    color: #FFF;
    font-size: 0.9rem !important;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    min-height: 18px;
    min-width: 18px;
    vertical-align: middle;
    text-align: center;
    padding: 0px 3px;
    top: -8px;
    left: -7px;
    border-radius: 0.75rem;
    z-index: 9;
}
/*-----------------------*/
/*-----------------------*/
.at_product_top_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 0;
    justify-content: center !important;
}
.at_product_top_icon>.at_product_top_icon_box {
    display: inline-block;
    margin: 10px;
}
.at_product_top_icon>.at_product_top_icon_box>.m-badge {
    min-height: 30px;
    min-width: 30px;
    border-radius: 50px;
    border: 1px #ccc solid;
}
/*-----------------------*/
.m-subheader-search {
    background: #564FC1;
    padding: 20px 30px 20px 30px;
}
/*-----------------------*/
.m-portlet {
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    background-color: #ffffff;
}
.m-portlet .m-portlet__head {
    border-bottom: 1px solid #e6e6e6;
}
/*-----------------------*/
.login_flag {
    margin-left: 10px;
}
.login_flag ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0;
    margin: 0;
    display: inline-flex;
}
.login_flag ul li {
    margin-right: 15px;
}
.login_flag ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    /*border: 1px #FFF solid;*/
    border-radius: 50%;
    background-position: left top;
    background-size: cover;
}
.login_flag ul li a::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
}
.login_flag ul li a:hover::before {
    background-color: rgba(0, 0, 0, 0);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.login_flag ul li a.active::before {
    background-color: rgba(0, 0, 0, 0);
    border: 1px #FFF solid;
}
.login_flag ul li a.login_flag_th {
    background-image: url(../../../assets/app/media/img/flags/th.png);
}
.login_flag ul li a.login_flag_en {
    background-image: url(../../../assets/app/media/img/flags/en.png);
}
.login_flag ul li a.login_flag_cn {
    background-image: url(../../../assets/app/media/img/flags/cn.png);
}

.modal .modal-content .modal-header .modal-title {
    width: 100%;
}
/*-----------------------*/

/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*.m-portlet .m-portlet__head {
    height: 4rem;
    padding-top: 5px;
}*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
/*-----------------------*/
.at_bg_light_secondary {
    background-color: #e2e2e3;
}
.at_bg_light_secondary:hover {
    background-color: #e2e2e3 !important;
}
/*-----------------------*/
/*-----------------------*/
.at_bg_black, tr.at_bg_black th {
    background-color: #282938 !important;
    color: #FFF !important;
}
.at_bg_black:hover {
    background-color: #282938 !important;
}
/*-----------------------*/
/*-----------------------*/
.btn-dark {
    color: #fff;
    background-color: #707579;
    border-color: #707579;
}
/*-----------------------*/
/*-----------------------*/
hr.light {
    border-top: 1px solid #66677b;
}
/*-----------------------*/
/*-----------------------*/
.table.at_table_header_blue>thead>tr>th {
    background-color: #007bff;
    color: #FFF;
}
.table.at_table_header_green>thead>tr>th {
    background-color: #28ce44;
    color: #333;
}
/*-----------------------*/
/*-----------------------*/
.product-name-line-1-box {
    word-break: break-all;
    white-space: pre-wrap;
}
/*-----------------------*/
.table th, .table td {
    padding: 0.7rem 0.75rem;
}
/*-----------------------*/
/*-----------------------*/
.at-cursor-pointer {
    cursor: pointer;
}
table.at-vertical-align-middle th, table.at-vertical-align-middle td {
    vertical-align: middle !important;
}
table.at-vertical-align-top th, table.at-vertical-align-top td {
    vertical-align: top !important;
}
.table {
    font-size: 14px;
}
/*-----------------------*/
/*-----------------------*/
.m-brand .m-brand__logo .m-brand__logo-wrapper img.pc {
    display: block;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper img.mobile {
    display: none;
}
/*-----------------------*/
/*-----------------------*/

@media only screen and (max-width: 1199px) {

/*-----------------------*/
}

@media only screen and (max-width: 1024px) {

/*-----------------------*/
}

@media only screen and (max-width: 1023px) {
.m-brand .m-brand__logo .m-brand__logo-wrapper img.pc {
    display: none;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper img.mobile {
    display: block;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__languages .m-topbar__language-selected-img {
    width: 34px;
}
/*-----------------------*/
}
@media (min-width: 1023px) {
.m-header-menu .m-menu__nav>.m-menu__item:first-child {
    padding-left: 20px;
/*-----------------------*/
}

@media only screen and (max-width: 991px) {

/*-----------------------*/
}

@media only screen and (max-width: 768px) {

/*-----------------------*/
}

@media only screen and (max-width: 767px) {

/*-----------------------*/
}

@media only screen and (max-width: 576px) {

/*-----------------------*/
}

@media only screen and (max-width: 575px) {

/*-----------------------*/
}

@media only screen and (max-width: 485px) {

/*-----------------------*/
}

@media only screen and (max-width: 425px) {

/*-----------------------*/
}

@media only screen and (max-width: 375px) {

/*-----------------------*/
}

@media only screen and (max-width: 320px) {

/*-----------------------*/
}