.m-header-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    font-weight: 400;
    font-size: 1.2rem !important;
    text-transform: initial;
}
h3.m-portlet__head-text>span.wa_head_text {
    font-size: 16px !important;
    margin-top: 4px;
    /*color: #007bff;*/
}
.m-dropdown.m-dropdown--arrow .m-dropdown__wrapper.wa-width-auto{
    width: auto;
}
.m-dropdown__wrapper.at-m-dropdown__wrapper_box1.wa-width-auto
{
    width: auto;
}
tr.wa-no-border td
{
    /*border: 0;*/
}
table.at-vertical-align-middle td
{
    vertical-align: top !important;
}
tr.wa-no-border{
    border-top: 3px solid;
}
.wa_card_detail{
    float: left;
    text-align: right;
}
.wa_float_left{
    float: left;
}
.m-portlet__head.wa_portlet_h{
    height: 40px;
}
.wa_la_1{
    padding: 10px 10px;
}
span.wa_weight
{
    font-weight: bold;
}
.wa_href
{
    color: #0f83ff;
}
.wa_href:hover{
    text-decoration: none;
    color: #0f83ff;
}
.wa_left_kg
{
    padding-left: 0px;
}
.wa_mgin_form
{
    margin-left: 15px;
}
.wa_la_form
{
    margin-bottom: 16px;
}
.wa_la_form2
{
    padding-top: 10px;
}
.wa_hover_insert
{
    color: #0f83ff;
}
.wa_hover_insert:hover
{
    text-decoration: none;
    color: #0f83ff;
}
.wa_size
{
    font-size: 15px !important;
}
.m-btn--icon.m-btn--icon-only.wa_bg_icon
{
    width: 24px;
    height: 24px;
    /*background: red;*/
    /*border-color: red;*/
}
.m-btn--icon.m-btn--icon-only.wa_bg_icon_red
{
    width: 24px;
    height: 24px;
    background: red;
    border-color: red;
}
.wa_hover_insert2
{
    color: #28ce44;
}
.wa_hover_insert2:hover
{
    text-decoration: none;
    color: #28ce44;
}

.wa_hover_insert3
{
    color: red;
}
.wa_hover_insert3:hover
{
    text-decoration: none;
    color: red;
}

.wa_hr_boder
{
    border-top: dashed 1px #ccc;
    margin: 0px 0px 8px 0px;
}
.wa_text_r
{
    /*text-align: right;*/
    padding-left: 150px;
}
.wa-combine-box {
    border: solid 1px #bbb;
    padding: 10px 10px 0px 10px;
    line-height: 0.5;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 2px;
    min-width: 188px;
    background-color: #282938;
    color: #FFF;
}
.wa-combine-box2 {
    border: solid 1px #bbb;
    padding: 10px 10px 0px 10px;
    line-height: 0.5;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 2px;
    min-width: 331px;
    background-color: #282938;
    color: #FFF;
}
.wa_td_right
{
    text-align: right;
}
.wa_hide_a_show,.wa_show_text2,.wa_show_t,.wa_sh,.wa_s_detail,.wa_sh_2
{
    display: none;
}
.wa_p_card
{
    padding: 20px;
}
th.wa_td_style
{
    background-color: #282938 !important;
    color: #FFF !important;
}
.wa_flex
{
    display: inline-flex;
}

@media only screen and (max-width: 990px) {
    .wa_la_form{
        margin: 0px;
    }
    .wa_respon_mgin{
        margin-top: 5px;
    }
    .wa_la_form2{
        padding-top: 0px;
    }
}